#footer{
	

	
}



.fb-share-button {
   text-decoration:none;
 }
#fb_icon:hover {
    width: 55px;
    height: 21px;
    background-size: 55px 21px;
    background: midnightblue url('../images/fb_icon.png') no-repeat center center;
    background-blend-mode: multiply;
}
